.slide-container {
    width: 70%;
    margin: auto;
 }
  
  h3 {
    text-align: center;
}
  
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 100vh;
  }
  
  .each-slide span {
    position: relative;
    top: 200px; 
    padding: 209px;
    font-size: 45px;
    font-weight: 700;
    line-height: 68px;
    text-align: center;
    color: #fafafa;
    z-index: 999;
  }
  
  .each-fade {
    display: flex;
  }
  
  .each-fade .image-container {
    width: 75%;
    overflow: hidden;
  }
  
  .each-fade .image-container img {
    width: 100%;
  }
  
  .each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  }

  .imgOverlay {
      width:100%;
      height: 100%;
      position: absolute;
      top: 0;
      background-color: rgba(50, 50, 50, 0.2);
      z-index: 700;
  }

  .indicators {
      position: relative;
      bottom: 50px;
  }

.logo {
    position: absolute;
    height: 52px;
    right: 1184px;
    top: 16px;
    z-index: 999;
}

.btns {
  height: 54px;
  background-color:rgba(81, 26, 11423, .25);
  border-radius:25px;
  width: 762px;
  margin: 0 auto 24px auto;
}

.imghelp {
  height: 700px;
  width: 1181px;
}

.textMain {
  margin: 86px 0;
  padding: 0px 286px;
  font-size: 29px;
}

.onhover1{
    height: 100px;
    width: 100px;
    background: rgba(0,0,0,0);
    position: absolute;
    top: 1882px;
    right: 1010px;
    z-index: 999;
}

.notHidden {
  position: absolute;
  top: 1661px;
  right: 902px;
  z-index: 999;
}

.hidden {
  display: none;
}

// .onhover2{

// }
// .onhover3{

// }
// .onhover4{

// }